<% if resource.errors.any? %>
  <div class="alert alert-icon alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <i class="fa fa-frown-o" aria-hidden="true"></i> 
    <ul class="justify-content-left">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
