<div class="page-content">
<div class="container text-center text-dark">
        <div class="construction ">
            <div class="text-dark">
                <div class="card-body ">
                    <h2 class="font mb-4">Comming Soon</h2>
                    <h4 class="mt-5 text-dark">Our Website is under construction, follows us for more updates !</h4>
                    <br>
                    <div class="count-down construction row text-center mb-5">
                        <div class="countdown clock-presenter">
                            <span class="days">35</span>
                            <span class="">Days</span>
                        </div>
                        <div class=" countdown clock-presenter">
                            <span class="hours">17</span>
                            <span class="">Hours</span>
                        </div>
                        <div class="countdown clock-presenter">
                            <span class="minutes">50</span>
                            <span class="">Minutes</span>
                        </div>
                        <div class=" countdown clock-presenter">
                            <span class="seconds">39</span>
                            <span class="">Seconds</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>