<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: '/dashboards/sessions.json',
            eventClick: function(info) {
                window.open(info.event.url, '_blank');
            }
        });

        calendar.render();
    });

</script>
<div id="calendar"></div>