<ul class="nav header-nav">
  <li class="nav-item dropdown header-option m-2">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fe fe-settings mr-2"></i>Settings
    </a>
    <div class="dropdown-menu dropdown-menu-left">
      <a class="dropdown-item" href="#">Option 1</a>
      <a class="dropdown-item" href="#">Option 2</a>
      <a class="dropdown-item" href="#">Option 3</a>
      <a class="dropdown-item" href="#">Option 4</a>
      <a class="dropdown-item" href="#">Option 5</a>

    </div>
  </li>
</ul>